* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*//////////////////////////////// HEADER ///////////////////////////////////*/
.header {
    background-image: url("img/header-bg.jpg");
    background-position: center;
    color: whitesmoke;
    min-height: 300px;
    box-shadow: 0 0 25px 2px black;
    position: relative;
    z-index: 10;
}

.header__icon span{
    color: goldenrod;
    font-size: clamp(3rem, 3.2vw, 4rem);
    margin: 20px;
    user-select: none;
    animation: loadIcon 1s ease-out both;
}

.header__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    user-select: none;
}

.text-container__title {
    font-size: clamp(2.5rem, 3vw, 3.5rem);
    letter-spacing: 5px;
    animation: loadTitle 1s ease-in-out both;
}

.text-container__phrase {
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 10px;
    animation: loadPhrase 1s ease-in-out both;
}

@media screen and (max-width: 50.75rem) {
    .header {
        width: 100%;
    }
}
/*//////////////////////////////// MAIN SEARCH ///////////////////////////////////*/

.main__options {
    background-color: #3C3D37;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.photos__search-result {
    color: red;
    font-family: monospace;
    font-size: 1.1rem;
    text-align: center;
    display: none;
}

.options__search-form {
    display: flex;
    align-items: center;
    gap: 10px;
    animation: openModal 1s ease-in-out both;
}

.search-form__text {
    font-size: 1.3rem;
    color: whitesmoke;
    user-select: none;
}

.search-form__input {
    height: 25px;
    max-width: 200px;
    outline: none;
    border: none;
    border-bottom: 2px solid goldenrod;
    background-color: transparent;
    font-family: inherit;
    color: whitesmoke;
    font-size: 1.3rem;
}

.search-form__button {
    min-height: 25px;
    border: none;
    border: 2px solid transparent;
    border-radius: 50%;
    background: transparent;
    transition: border-color 0.2s ease;
}

.search-form__button:hover {
    border-color: goldenrod;
}

.search-form__button span {
    font-size: 1.3rem;
    color: whitesmoke;
    margin: 5px;
    user-select: none;
}

@media screen and (max-width: 85.75rem) {
    .main__options {
        width: 100%;
    }

    .search-form__button {
        border-color: goldenrod;
    }
}

/*//////////////////////////////// MAIN PHOTOS ///////////////////////////////////*/

.main__photos {
    background-color: lightgray;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px;
}

.photos__grid {
    display: grid;
    grid-template-columns: 2fr 2fr auto;
    gap: 50px;
    min-height: 300px;
    height: fit-content;
}

.photo-container__photo {
    box-shadow: 0 0 35px 2px #0007;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    scale: 1;
    transition: scale 0.2s ease-in-out;
}

.photo-container__photo:hover {
    scale: 1.2;
}

.photo-container__photo img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
}

.photo-container__social {
    display: none;
}

@media screen and (max-width: 105.75rem) {
    .main {
        width: 100%;
    }

    .main__photos {
        padding: 0;
        overflow: hidden;
    }

    .photos__grid {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .photo-container__photo {
        width: 100%;
        height: 400px;
        transition: none;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .photo-container__photo img {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .photo-container__photo:hover {
        scale: 1;
    }

    .photo-container__social {
        background-color: #151515;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
        padding: 10px;
        gap: 15px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .photo-info__tags {
        font-size: 1.2rem;
    }

    .photo-info__open-comments-button {
        background-color: transparent;
        color: whitesmoke;
        border: none;
        font-size: 1.1rem;
        user-select: none;
        font-family: 'Times New Roman', Times, serif;
    }
}

@media screen and (max-width: 47.75rem) {
    .main__photos {
        background-color: goldenrod;
    }  

    .photo-container__photo {
        width: 100%;
        height: 400px;
        border-radius: 0;
        box-shadow: none;
        transition: none;
    }

    .photo-container__photo img {
        border-radius: 0;
    }

    .photo-container__social {
        border-radius: 0;
    }
}

/*///////////////////////////// PHOTO MODAL    ///////////////////////////////*/

.photo-modal {
    width: 100%;
    height: 100%;
    background-color: #0007;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 15;
    top: 0;
}

.photo-modal__container {
    padding: 20px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: end;
    position: relative;
}

.container__close-button, .container__left-button, .container__right-button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: border-color 0.2s ease;
}

.container__close-button:hover, .container__left-button:hover, .container__right-button:hover {
    border-color: goldenrod;
}

.container__close-button span, .container__left-button span, .container__right-button span {
    font-size: 2rem;
    color: whitesmoke;
}

.container__left-button {
    width: 50px;
    height: 50px;
    background-color: #0009;
    position: absolute;
    top: 400px;
    right: 1550px;
    z-index: 12;
}

.container__right-button {
    width: 50px;
    height: 50px;
    background-color: #0009;
    position: absolute;
    top: 400px;
    left: 1210px;
    z-index: 12;
}

.container__left-button span {
    margin-left: 14px;
    font-size: 2.5rem;
}

.container__right-button span {
    margin-left: 4px;
    font-size: 2.5rem;
}

.container__info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container__photo-blur {
    width: 1200px;
    height: 700px;
    margin: 10px;
    background-image: url("/img/photos/1.jpg");
    background-position: center;
    background-size: cover;
    filter: blur(1.2rem);
    position: absolute;
    z-index: 1;
}

.container__photo-container {
    margin: 10px;
    width: 1200px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container__photo-container img {
    max-width: 1200px;
    max-height: 700px;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    user-select: none;
}

.container__social {
    width: 300px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    position: relative;
}

.container__social::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 720px;
    background-color: whitesmoke;
    bottom: 5px;
    left: -15px;
    opacity: 0.7;
}

.social__photo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    position: relative;
}

.social__photo-info::after {
    content: " ";
    position: absolute;
    width: 250px;
    height: 1px;
    background-color: whitesmoke;
    opacity: 0.7;
    left: 30px;
    bottom: -15px;
}

.photo-info__title {
    color: whitesmoke;
    opacity: 0.7;
    font-size: 1rem;
    margin-bottom: 10px;
    user-select: none;
}

.photo-info__tags {
    color: goldenrod;
    font-size: 1rem;
    font-family: monospace;
}

.social__photo-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

.photo-comments-container__title {
    color: whitesmoke;
    font-size: 1rem;
    opacity: 0.7;
    user-select: none;
}

.photo-comments-container__container {
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 300px;
    height: 500px;
    margin: 10px;
    margin-bottom: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.container__comment {
    margin: 5px;
    background-color: #3C3D37;
    border-radius: 15px;
    padding: 10px;
}

.comment__user {
    font-family: sans-serif;
    color: white;
}

.comment__text {
    font-family: sans-serif;
    color: gray;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

.social__photo-comments-creator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.photo-comments-creator__input {
    flex-grow: 3;
    outline: none;
    border: none;
    background-color: #3C3D37;
    border-radius: 15px;
    color: whitesmoke;
    padding: 20px;
    height: 10px;
    font-size: 1rem;
    display: block;
    position: relative;
    outline: 2px solid transparent;
    transition: outline-color .2s ease;
}

.photo-comments-creator__input:focus {
    outline-color: goldenrod;
}

.photo-comments-creator__length-info {
    position: absolute;
    z-index: 10;
    color: goldenrod;
    font-family: monospace;
    font-size: 0.8rem;
    right: 0;
    bottom: 45px;
    display: none;
}

.photo-comments-creator__send {
    flex-grow: 1;
    height: 40px;
    width: 40px;
    background-color: #3C3D37;
    border-radius: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    outline: 2px solid transparent;
    transition: outline-color 0.2s ease;
}

.photo-comments-creator__send:hover {
    outline-color: goldenrod;   
}

.photo-comments-creator__send span {
   font-size: 1.5rem;
   text-align: center; 
   user-select: none;
}

@media screen and (max-width: 50.75rem) {
    .photo-info__tags {
        font-size: 1.2rem;
    }
}

/*///////////////////////////// PHOTO MODAL COMMENTS   ///////////////////////////////*/

.photo-comments {
    width: 100%;
    height: 100%;
    background-color: #0007;
    display: flex;
    justify-content: center;
    align-items: end;
    position: fixed;
    z-index: 15;
    top: 0;
    animation: openModal 0.2s linear both;
}

.photo-comments__container {
    width: 100%;
    height: 650px;
    max-width: 800px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    align-items: end;
    position: relative;
    padding: 20px;
    animation: openCommentModal 0.2s ease-out both;
}

.container__close-button-comments {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid goldenrod;
    transition: border-color 0.2s ease;
}

.container__close-button-comments span {
    font-size: 1.7rem;
    color: whitesmoke;
}

.container__comments-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comments-container__container {
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 95%;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.comments-container__tags {
    color: goldenrod;
    font-family: monospace;
    font-size: 1.2rem;
    padding-bottom: 15px;
}

.comments-container__title {
    color: whitesmoke;
    opacity: 0.7;
    font-size: 1rem;
    margin-bottom: 10px;
    user-select: none;
}

.container__comment-modal {
    margin: 5px;
    background-color: #3C3D37;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
}

.comment__user-modal {
    font-family: sans-serif;
    color: white;
}

.comment__text-modal {
    font-family: sans-serif;
    color: gray;
    text-wrap: pretty;
    overflow-wrap: break-word;
}

.container__comment-creator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.container__input {
    outline: none;
    border: none;
    background-color: #3C3D37;
    border-radius: 15px;
    color: whitesmoke;
    padding: 18px;
    height: 10px;
    font-size: 1rem;
    display: block;
    position: relative;
    outline: 2px solid transparent;
    transition: outline-color .2s ease;
}

.container__input:focus {
    outline-color: goldenrod;
}

.container__length-info {
    position: absolute;
    z-index: 10;
    color: goldenrod;
    font-family: monospace;
    font-size: 0.8rem;
    right: 8px;
    bottom: 27px;
    display: none;
}

.container__send {
    height: 35px;
    width: 35px;
    background-color: #3C3D37;
    border-radius: 100%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    outline: 2px solid goldenrod;
    transition: outline-color 0.2s ease;
}

.container__send span {
    font-size: 1.4rem;
    text-align: center; 
    user-select: none;
 }

/*//////////////////////////////// FOOTER ///////////////////////////////////*/

.footer {
    background-color: #181C14;
    color: whitesmoke;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;  
}

.footer p a {
    color: goldenrod;
}

.footer p span {
    color: goldenrod;
}

@media screen and (max-width: 50.75rem) {
    .footer {
        width: 100%;
    }
}

/*//////////////////////////////////// ANIMATIONS ////////////////////////////////////*/

@keyframes openPhoto {
    0% {
        scale: 1;
    }

    40% {
        scale: 1.2;
    }

    70% {
        scale: 1;
    }

    100% {
        scale: 1.1;
        opacity: 0.5;
    }
}

@keyframes openModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes closeModal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes closeCommentModal {
    from {
        height: 650px;
    }
    to {
        height: 0;
    }
}

@keyframes openCommentModal {
    from {
        height: 0;
    }
    to {
        height: 650px;
    }
}

@keyframes loadIcon {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadTitle {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadPhrase {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes movePhotoR {
    from {

    }
    to {
        transform: translateX(800px);
    }
}

@keyframes movePhotoL {
    from {

    }
    to {
        transform: translateX(-1600px);
    }
}

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: transparent; 
}
   
::-webkit-scrollbar-thumb {
    background: goldenrod; 
    border-radius: 10px;
}

